.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-item-top {
  align-items: flex-start
}

.align-self-center {
  align-self: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-center-all {
  text-align: center;

  * {
    text-align: center;
  }
}