.container {
  width: 100%;
  padding-left: $base-padding-side;
  padding-right: $base-padding-side;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $screen-sm-min) {
    max-width: map-get($container-max-widths, 'sm');
  }

  @media screen and (min-width: $screen-md-min) {
    max-width: map-get($container-max-widths, 'md');
  }

  @media screen and (min-width: $screen-lg-min) {
    max-width: map-get($container-max-widths, 'lg');
  }

  @media screen and (min-width: $screen-xl-min) {
    max-width: map-get($container-max-widths, 'xl');
  }

  @media screen and (min-width: $screen-xl-min) {
    max-width: map-get($container-max-widths, 'xl');
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$base-padding-side;
  margin-left: -$base-padding-side;
}

.row-img {
  justify-content: space-between;
  //margin-bottom: 2rem;

  @media screen and (max-width: $screen-sm-max) {
    justify-content: center;
  }

  img {
    display: inline-flex;
    width: auto;
    height: auto;
    max-height: 40px;

    @media screen and (max-width: $screen-lg-max) {
      max-height: 30px;
    }
  }
}

.row-img-item {
  display: flex;
  margin: 0 1rem 1.5rem;

  @media screen and (max-width: $screen-sm-max) {
    margin: 10px;
  }
}

.rect-3 {
  width: rem-calc(160px);
  height: rem-calc(140px);
}

