@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/bebas-neue/subset-BebasNeueLight.eot');
  src: url('../../fonts/bebas-neue/subset-BebasNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bebas-neue/subset-BebasNeueLight.woff2') format('woff2'),
  url('../../fonts/bebas-neue/subset-BebasNeueLight.woff') format('woff'),
  url('../../fonts/bebas-neue/subset-BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/bebas-neue/subset-BebasNeueRegular.eot');
  src: url('../../fonts/bebas-neue/subset-BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bebas-neue/subset-BebasNeueRegular.woff2') format('woff2'),
  url('../../fonts/bebas-neue/subset-BebasNeueRegular.woff') format('woff'),
  url('../../fonts/bebas-neue/subset-BebasNeueRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/bebas-neue/subset-BebasNeue-Thin.eot');
  src: url('../../fonts/bebas-neue/subset-BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bebas-neue/subset-BebasNeue-Thin.woff2') format('woff2'),
  url('../../fonts/bebas-neue/subset-BebasNeue-Thin.woff') format('woff'),
  url('../../fonts/bebas-neue/subset-BebasNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../fonts/bebas-neue/subset-BebasNeueBold.eot');
  src: url('../../fonts/bebas-neue/subset-BebasNeueBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/bebas-neue/subset-BebasNeueBold.woff2') format('woff2'),
  url('../../fonts/bebas-neue/subset-BebasNeueBold.woff') format('woff'),
  url('../../fonts/bebas-neue/subset-BebasNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

